# .NET
[Bb]in/
[Oo]bj/

# Node.js dependencies
node_modules/
npm-debug.log

# Visual Studio / IDE
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
*.dll
*.exe
*.pdb

# Publish profiles
**/Properties/PublishProfiles/

# Blazor WebAssembly
wwwroot/_framework/
