.admin-layout[b-dnxt76ichh] {
    display: flex;
    min-height: 100vh;
    background: #f6f7fb;
}

.admin-content[b-dnxt76ichh] {
    flex: 1;
    margin-left: 120px;
    padding: 32px;
}

@media (max-width: 900px) {
    .admin-layout[b-dnxt76ichh] {
        flex-direction: column;
    }

    .admin-content[b-dnxt76ichh] {
        margin-left: 0;
        padding: 20px;
    }
}
