/* /Layout/Footer.razor.rz.scp.css */
.footer[b-zm58cu1gzy] {
    background-color: #ffffff;
    padding: 40px 0 20px 0;
}

.container[b-zm58cu1gzy] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.footerContent[b-zm58cu1gzy] {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 40px;
    margin-bottom: 30px;
}

.footerSection[b-zm58cu1gzy] {
    display: flex;
    flex-direction: column;
}

.footerLogo[b-zm58cu1gzy] {
    height: 40px;
    margin-bottom: 16px;
}

.description[b-zm58cu1gzy] {
    color: #090909;
    margin-bottom: 20px;
    line-height: 1.6;
}

.socialIcons[b-zm58cu1gzy] {
    margin-top: 8px;
    display: flex;
    gap: 16px;
}

.socialIcon[b-zm58cu1gzy] {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.socialIconImg[b-zm58cu1gzy] {
    max-width: 50x;
    max-height: 50px;
}

.socialIcon:hover[b-zm58cu1gzy] {
    color: #1890ff;
}

.sectionTitle[b-zm58cu1gzy] {
    color: #141313;
    margin-bottom: 16px;
    font-weight: 300;
}

.linkList[b-zm58cu1gzy] {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footerLink[b-zm58cu1gzy] {
    color: #808080;
    text-decoration: none;
    transition: color 0.3s;
    padding: 4px 0;
    font-weight: 500;
}

.footerLink:hover[b-zm58cu1gzy] {
    color: #1890ff;
}

.contactInfo[b-zm58cu1gzy] {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contactItem[b-zm58cu1gzy] {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.contactIcon[b-zm58cu1gzy] {
    color: #1890ff;
    margin-top: 2px;
}

.divider[b-zm58cu1gzy] {
    border-color: #434343;
    margin: 20px 0;
}

.bottomFooter[b-zm58cu1gzy] {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.copyright[b-zm58cu1gzy] {
    color: #090909;
}

/* Responsive */
@media (max-width: 1024px) {
    .footerContent[b-zm58cu1gzy] {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .container[b-zm58cu1gzy] {
        padding: 0 16px;
    }

    .footerContent[b-zm58cu1gzy] {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .bottomFooter[b-zm58cu1gzy] {
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }

    .footer[b-zm58cu1gzy] {
        margin-top: 40px;
    }
}

@media (max-width: 480px) {
    .footer[b-zm58cu1gzy] {
        padding: 30px 0 15px 0;
    }
}
/* /Layout/Header.razor.rz.scp.css */
.main-header[b-osclp8f0om] {
    background: white;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 32px;
    border-bottom: 1px solid #eee;
}

.wrapper[b-osclp8f0om] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left[b-osclp8f0om] {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo[b-osclp8f0om] {
    height: 50px;
    cursor: pointer;
}

.brand-name[b-osclp8f0om] {
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
    color: #454242;
}

.center .nav-menu[b-osclp8f0om] {
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu a[b-osclp8f0om] {
    text-decoration: none;
    color: black;
}

.right[b-osclp8f0om] {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-box[b-osclp8f0om] {
    background: #f4f4f4;
    padding: 4px 12px;
    border-radius: 999px;
}

.search-box input[b-osclp8f0om] {
    border: none;
    background: transparent;
    outline: none;
    width: 200px;
}

.cart-icon[b-osclp8f0om] {
    font-size: 24px;
    text-decoration: none;
}

.cart-img[b-osclp8f0om] {
    width: 28px;
    height: 28px;
}

.avatar-menu[b-osclp8f0om] {
    position: relative;
}

.avatar[b-osclp8f0om] {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #1677ff;
    cursor: pointer;
}



.avatar-menu:hover .dropdown[b-osclp8f0om] {
    display: flex;
}
/* /Layout/MainLayout.razor.rz.scp.css */
/* /Layout/Sidebar.razor.rz.scp.css */
.sidebar[b-8twrvng7en] {
background: #ffffff;
border-right: 1px solid #e5e7eb;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 0;
position: fixed;
width: 120px;       
min-width: 120px; 
}


.logo[b-8twrvng7en] {
width: 45px;
height: 45px;
background: linear-gradient(135deg, #4f46e5, #06b6d4);
border-radius: 12px;
color: white;
font-size: 24px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}


.menu[b-8twrvng7en] {
display: flex;
flex-direction: column;
gap: 18px;
flex: 1;
}


.item[b-8twrvng7en] {
width: 100%;
padding: 12px 0;
text-align: center;
color: #6b7280;
font-size: 14px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 10px;
transition: 0.2s;
}


.item:hover[b-8twrvng7en] {
background: #f3f4f6;
color: #111827;
}


.active[b-8twrvng7en] {
background: #eef2ff;
color: #4f46e5;
font-weight: 600;
}


.icon[b-8twrvng7en] {
font-size: 20px;
margin-bottom: 3px;
height: 30px;
width: 30px;
}


.bottom[b-8twrvng7en] {
padding-bottom: 15px;
}


.profile[b-8twrvng7en] {
width: 40px;
height: 40px;
background: #f3f4f6;
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
color: #374151;
transition: 0.2s;
}


.profile:hover[b-8twrvng7en] {
background: #e5e7eb;
}
