.sidebar[b-8twrvng7en] {
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    width: 120px;
    min-width: 120px;
}

.logo[b-8twrvng7en] {
    width: 45px;
    height: 45px;
    background: linear-gradient(135deg, #4f46e5, #06b6d4);
    border-radius: 12px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.menu[b-8twrvng7en] {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
}

.item[b-8twrvng7en] {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    color: #6b7280;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s;
    text-decoration: none;
}

.item:visited[b-8twrvng7en] {
    color: inherit;
    text-decoration: none;
}

.item:hover[b-8twrvng7en] {
    background: #f3f4f6;
    color: #111827;
}

.active[b-8twrvng7en] {
    background: #eef2ff;
    color: #4f46e5;
    font-weight: 600;
}

:global(a.item)[b-8twrvng7en] {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    color: #6b7280;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s;
    text-decoration: none;
}

:global(a.item:visited)[b-8twrvng7en] {
    color: inherit;
    text-decoration: none;
}

:global(a.item:hover)[b-8twrvng7en] {
    background: #f3f4f6;
    color: #111827;
}

:global(a.active)[b-8twrvng7en] {
    background: #eef2ff;
    color: #4f46e5;
    font-weight: 600;
}

.icon[b-8twrvng7en] {
    font-size: 20px;
    margin-bottom: 3px;
    height: 30px;
    width: 30px;
}

.bottom[b-8twrvng7en] {
    padding-bottom: 15px;
}

.profile[b-8twrvng7en] {
    width: 40px;
    height: 40px;
    background: #f3f4f6;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #374151;
    transition: 0.2s;
}

.profile:hover[b-8twrvng7en] {
    background: #e5e7eb;
}
