<header class="main-header">
    <div class="wrapper">
        <div class="left">
            <a href="/">
                <img src="assets/images/logo.svg" alt="Logo" class="logo" />
            </a>
            <span class="brand-name">JewShop</span>

        </div>

        <div class="center">
            <nav class="nav-menu">
                <a href="/rings">Rings</a>
                <a href="/earrings">Earrings</a>
                <a href="/necklaces">Necklaces</a>
                <a href="/bracelets">Bracelets</a>
                <a href="/pendants">Pendants</a>
                <a href="/anklets">Anklets</a>
                <a href="/accessories">Accessories</a>
            </nav>
        </div>

        <div class="right">
            <div class="search-box">
                <input placeholder="Search" />
            </div>

            <a href="/cart" class="cart-icon">
                <img src="assets/icons/shopping.svg" class="cart-img" />
            </a>

            <div class="avatar-menu">
                <a href="/login" class="avatar-link">
                <img src="assets/icons/avatar.svg" class="avatar" />
                </a>
            </div>
        </div>
    </div>
</header>


