@using JewShop.Client.Services
@inject CartService CartService
@implements IDisposable

<header class="main-header">
    <div class="wrapper">
        <div class="left">
            <a href="/">
                <img src="assets/images/logo.svg" alt="Logo" class="logo" />
            </a>
            <span class="brand-name">JewShop</span>

        </div>

        <div class="center">
            <nav class="nav-menu">
                <a href="/products?category=Rings">Rings</a>
                <a href="/products?category=Earrings">Earrings</a>
                <a href="/products?category=Necklaces">Necklaces</a>
                <a href="/products?category=Bracelets">Bracelets</a>
                <a href="/products?category=Pendants">Pendants</a>
                <a href="/products?category=Anklets">Anklets</a>
                <a href="/products?category=Accessories">Accessories</a>
            </nav>
        </div>

        <div class="right">
            <div class="search-box">
                <input placeholder="Search" />
            </div>

            <a href="/cart" class="cart-icon">
                <img src="assets/icons/shopping.svg" class="cart-img" />
                @if (cartCount > 0)
                {
                    <span class="cart-badge">@cartCount</span>
                }
            </a>

            <div class="avatar-menu">
                <a href="/login" class="avatar-link">
                <img src="assets/icons/avatar.svg" class="avatar" />
                </a>
            </div>
        </div>
    </div>
</header>

@code {
    private int cartCount = 0;

    protected override async Task OnInitializedAsync()
    {
        cartCount = await CartService.GetCartCount();
        CartService.OnChange += async () => 
        {
            cartCount = await CartService.GetCartCount();
            await InvokeAsync(StateHasChanged);
        };
    }

    public void Dispose()
    {
        // No need to unsubscribe lambda, but good practice to have Dispose
    }
}