
.app-container {
    display: flex;
    flex-direction: row; 
    height: 100vh;     
    width: 100%;
    overflow: hidden;  
}


.sidebar-area {
    width: 120px;       
    flex-shrink: 0;     
    background-color: #fff;
    border-right: 1px solid #e5e7eb;
  
}


.main-content {
    flex-grow: 1;          
    display: flex;
    flex-direction: column;  
    height: 100vh;
    overflow-y: auto;        
    background-color: #f9fafb; 
}

.top-row {
    background-color: white;
    z-index: 10;
    
    position: sticky;
    top: 0;
}

.content-body {
    flex: 1; 
    padding-top: 20px;
    padding-bottom: 20px;
}