<aside class="sidebar">

    <div class="logo">
        <img class="logoImg" src="assets/images/logo.svg" />
    </div>

    <nav class="menu">

        <a class="item">
            <img class="icon" src="assets/icons/statistical.svg" />
            <span class="label">Statistical</span>
        </a>

        <a class="item">
            <img class="icon" src="assets/icons/product.svg" />
            <span class="label">Product</span>
        </a>

        <NavLink class="item" href="/admin/suppliers" Match="NavLinkMatch.Prefix" activeClass="active">
            <img class="icon" src="assets/icons/supplier.svg" />
            <span class="label">Supplier</span>
        </NavLink>

        <NavLink class="item" href="/admin/coupons" Match="NavLinkMatch.Prefix" activeClass="active">
            <img class="icon" src="assets/icons/coupon.svg" />
            <span class="label">Coupon</span>
        </NavLink>

        <a class="item">
            <img class="icon" src="assets/icons/order.svg" />
            <span class="label">Order</span>
        </a>

        <a class="item">
            <img class="icon" src="assets/icons/avatar.svg" />
            <span class="label">Account</span>
        </a>

    </nav>
</aside>
