<aside class="sidebar">

    <div class="logo">
        <img class="logoImg" src="assets/images/logo.svg" />
    </div>

    <nav class="menu">

        <NavLink class="item" href="/admin/dashboard" Match="NavLinkMatch.Prefix" activeClass="active">
            <div class = "item-content">
                <img class="icon" src="assets/icons/statistical.svg" />
                <span class="label">Statistical</span>
            </div>
        </NavLink>

        <NavLink class="item" href="/admin/products" Match="NavLinkMatch.Prefix" activeClass="active">
            <div class = "item-content">
                <img class="icon" src="assets/icons/product.svg" />
                <span class="label">Product</span>
            </div>
        </NavLink>

        <NavLink class="item" href="/admin/suppliers" Match="NavLinkMatch.Prefix" activeClass="active">
            <div class = "item-content">
                <img class="icon" src="assets/icons/supplier.svg" />
                <span class="label">Supplier</span>
            </div>
        </NavLink>

        <NavLink class="item" href="/admin/coupons" Match="NavLinkMatch.Prefix" activeClass="active">
            <div class = "item-content">
                <img class="icon" src="assets/icons/coupon.svg" />
                <span class="label">Coupon</span>
            </div>
        </NavLink>

         <NavLink class="item" href="/admin/orders" Match="NavLinkMatch.Prefix" activeClass="active">
            <div class = "item-content">
                <img class="icon" src="assets/icons/order.svg" />
                <span class="label">Order</span>
            </div>
        </NavLink>

        <NavLink class="item" href="/admin/accounts" Match="NavLinkMatch.Prefix" activeClass="active">
            <div class = "item-content">
                <img class="icon" src="assets/icons/avatar.svg" />
                <span class="label">Account</span>
            </div>
        </NavLink>

    </nav>
</aside>
